.page{margin:1em auto; max-width:768px; display:flex; align-items:flex-start; flex-wrap:wrap; height:100%;
	h2{font:100 28px arial, sans-serif;}
	.box-1{padding:0.5em; width:100%; margin:0.5em;
		.options{
			label{width:4em; padding:0.5em 1em; font:100 24px arial, sans-serif;}
			input{width:4em; padding:0.5em 1em; font:100 28px arial, sans-serif;}
		}
		.btn{background:white; color:black; border:1px solid black; padding:0.5em 1em; text-decoration:none; margin:0.8em 0.3em; display:inline-block; cursor:pointer;}
		.hide{display:none;}
	}
	.box-2{padding:0.5em;	width:calc(100%/2 - 1em);
		img{max-width:100%;}
	}
}



