@mixin inputform{ padding:.5rem; background:-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); border-radius:.25em; border:1px solid #ccc; box-sizing: border-box; outline:none;}

.article-publish-date{position:relative; margin:10px 0; width:48.85%; display:inline-block;
	input[type="text"]{position:relative; width:100%; font:normal 14px 'OpenSansRegular', arial, sans-serif; color:#405365; cursor:pointer; @include inputform;
    &::-webkit-input-placeholder {  /* Chrome/Opera/Safari */  color:#405365;}
    &::-moz-placeholder { /* Firefox 19+ */ color:#405365;}
    &:-ms-input-placeholder { /* IE 10+ */  color:#405365;}
    &:-moz-placeholder { /* Firefox 18- */  color:#405365;}
  }
  i{position:absolute; top:10px; right: 5px; z-index: 1; color:#405365; font-size: 20px;}
}

.custom-date-style {background-color: red !important;}
.input{	}
.input-wide{ width: 500px;}

