.settings-container{width:1248px; margin:auto; position: relative; top:3em;
	.settings-show-title{width:100%; padding:10px 0; border-bottom:1px solid #333; 
		font:normal 2.5em 'OpenSansRegular', arial, sans-serif; color:#333333;}
}