.multimedia-container{background-color:#000000; 
	.multimedia-box{position:relative; height:100%; top:0; padding:1.75em 0;	
		
		section.gallery{display:block;
			button.slick-next:before,
      button.slick-prev:before{font-size:28px;}
			.slick-slide {margin-right:10px; margin-left:10px;}
			button.slick-next,
			button.slick-prev{z-index:1;}
			ul.slick-dots{
        li{
          button:before{font-size:12px; color:red;}
        }
      }
		}

	}
}
