.post-board-container{top:3.5em;}
.user-wall-board-container{top:3.5em;}

.post-board-container,
.user-wall-board-container{display:block; margin:0 auto; width:1250px; position: relative; 

  .post-board-left-wrap{position:fixed; top:55px; display:inline-block; vertical-align:top; width:310px; 
    .post-board-left-acc-wrap{
      .post-board-left-acc-btn{}
      .post-board-left-acc-box{width:349px;  height:300px; 
        .user-wall-board-profile-bio{ 
          ul{padding: 0;
            li{display:block; margin:0;
              b{width:255px;}
            }
          }
        }
        .user-wall-board-profile-connect{
          .user-wall-board-profile-connect-img{width:6.45em; height:90px; margin:.2em;}
        }
      }
    }
    .post-board-left-btn{
      a{width:170px;}
    }
    .post-board-left-content{display:block; margin-bottom: 10px;
      .post-board-left-caption{width:340px;
        a{height:2.68em;}
        span{width:100%;}
      }
      .post-board-left-status{
        ul{width:260px; 
          li{width:4.25em;}
        }
      }
    }
    .post-board-left-news{display:block; width:100%;
      .post-board-left-news-img{width:45%; height:100px; display:inline-block; vertical-align:top;}
      .post-board-left-news-headline{width:50%; display:inline-block; vertical-align: top;
        a{font:normal 16px 'OpenSansRegular', arial, sans-serif; line-height:21px; height:65px;}
      }
    }
  }

  .user-wall-cover-image-container{height:360px; margin-bottom:25px; width:56.5em; z-index:1; top:0; float:right;
    .user-wall-cover-image{position:absolute; top:0; bottom:0; left:0; right:0;}

    .user-wall-cover-preview{
      .user-wall-cover-preview-label{
        a{padding:6.5em 0;}
      }
    }
    
    .user-wall-board-profile-wrap{display:block; width:100%; margin:0; bottom:0; position:absolute;
      .user-wall-board-profile-img{display:inline-block; vertical-align:bottom; width:12.5em; height:170px; left:4px; border:5px solid #f2f2f2;
        .user-profile-update-img-btn{width:100%; height:100%;
          a{padding:2.85em 0;}
        }
      }
      
      .user-wall-board-profile-button{display:inline-block; vertical-align:bottom; width:43.75em; height:35px; background:#405365;  
        .user-wall-hover-wrapper{position:relative; float:left; background:#405365;
          a.user-profile-nav-inactive{background:#405365; color:#f2f2f2; }
          span.user-profile-nav-active{background:#f2f2f2; color:#333333; }
          a.user-profile-nav-inactive,
          span.user-profile-nav-active{display:block; padding:.45em 10px; cursor: pointer; background:#405365; color:#f2f2f2;
            position:relative; bottom: 0px; -webkit-transition: all .3s ease-in-out; /* For Safari 3.1 to 6.0 */transition: all .3s ease-in-out;
            b{font:normal 10px 'OpenSansRegular', arial, sans-serif; text-transform:uppercase;}
            i{font-size:21px; vertical-align: middle;}
            &:hover{background:#4c5c6b; color:#f2f2f2;
            bottom:3px; }
          }     
          #user-wall-hover-show{display:none; visibility: hidden;}
        }    
      }

    }
  }

  .user-timeline-container,
  .user-profile-container,
  .user-stories-container,
  .user-multimedia-container,
  .user-activity-container{width:56.65em; left:21.5em; position:relative; display:inline-block;


/**************************************@MediaScreen UserContribution*********************************/
    .user-multimedia-row,
    .user-stories-row{display:inline-block; vertical-align:top; width:290px; margin:10px .29em;}

/**************************************@MediaScreen UserActivity*************************************/    
    .user-activity-row{margin:15px 0;
      .user-activity-views,
      .user-activity-chart{width:28.2em; min-height:50px; float:left; 
        .user-activity-block{width:13.35em;  margin-bottom:15px; margin-right:10px; display:inline-block; vertical-align:top;
          .user-activity-block-body{ height:150px;
            .user-activity-block-col-1,
            .user-activity-block-col-2{padding:2em 20px;
              i{font-size:2.35em;}
            }
            .user-activity-block-col-1{float:left;}
            .user-activity-block-col-2{float:right;}
          }
        }
      }
    }

/**************************************@MediaScreen UserProfile*************************************/
    .user-profile-row{
      .user-profile-name{float:left;}
      .user-profile-edit-btn{float:right;
        span{ padding:5px 10px;}
      }

      .user-profile-col-1{width:14em; float:left; margin-right:25px;
        .user-profile-info{
          .user-profile-li{
            i{font-size:11px;}
          }
        }
      }
      .user-profile-col-2{width:24.25em; float:right;}
    }
    
/**************************************@MediaScreen UserTimeline************************************/

    .post-shared-wrap{width:490px; display:inline-block; margin-right:1.13em; position:relative;
      .searched-output-wrap{
        .searched-output-block{
          .searched-output-user{width:310px;
            .searched-output-img{display:inline-block; vertical-align:top;}
          }
        }
      }
      .user-timeline-postcontent-tab{width:100%;
        .modal-mask{
          .modal-wrapper{
            .modal-container{width:100%;
              .model-form-sticky{width:100%; height:auto; 
                .modal-post_col{width:100%;}
              }
              .modal-form-input{width:100%;
                .modal-post_input{width:100%;

                  .tabcontentuser{width:100%;
                    
                    .dropdown2 {
                      .dropbtn2{
                        .arrow_emoji:after{left:6.25em;}
                      }
                    }

                    .postaddbtns{float:left; margin-top:.05em; width:18rem; height:23px;
                      span{padding:.45em .5em;}
                      .post-input-box{bottom:1.5em;}
                    }

                    .preview-button,.post-button{float:right; padding:.20rem 0; width:135px;}

                    .select-wrap{margin-top:.35em; position:relative; display:inline-block;
                      .select-button{padding:.11rem 20px;}
                      .select-option-content{position:absolute; top:30px; width:11.35rem;
                        a{padding:10px 5px;}
                      }
                    }

                    .inputtext{display:block; width:100%; height:20px;}
                  }
                }
              }
            }
          }
        }
      }
      
      .shareuserpost{width:490px; margin-bottom:15px;
        .postcontainer{
          .post{

            .post_user_profile_dropdown{
              .post_user_profile{width:430px;}
            }
            
            .post_user_share_article_wrap{min-height:100px;
              
              post_user_share_article_col_commuity{
                .post_user_share_article_col_title{ height:280px; padding:6.5em 5px 0; 
                  a.post_user_share_heading{font:900 21px 'OpenSansRegular', arial, sans-serif;}
                }
                .post_user_share_article_col_img{height:280px;}
              }

              .post_user_share_article_col_article{
                .post_user_share_article_col_title{ height:280px; padding:0 5px 0;
                  .post_user_share_btn_row{
                    .post_user_share_btn_col{width:400px;
                      a.post_user_share_heading{font:900 21px 'OpenSansRegular', arial, sans-serif;}
                    }
                  }
                }
                .post_user_share_article_col_img{height:280px;}
              }
              
            }

            .post_user_social_btn_wrap{
              .post_user_social_btn{
                .post_user_social_mood,
                .post_user_social_comment,
                .post_user_social_share{
                  .post_user_social_moodbtn,
                  .post_user_social_commentbtn,
                  .post_user_social_sharebtn{padding:0px 2.85em;}
                }
              }
            }

          }
        }
      }
      .welcomecontainer{width:490px;}
    }
  }


  .post-board-right-wrap{ display:inline-block; vertical-align:top; width:24.6444444em;
    
    .app-block{ width:24.2222222%; height:60px; display:inline-block; vertical-align:top; }
    .fixed {top:5%;}
    .post-board-right-news-content{display:block; margin-bottom: 10px; width:100%;
      
      .post-board-right-news{width:355px;
        .post-board-right-news-img{width:100%; height:220px;}
        .post-board-right-news-headline{width:100%;
          h3{height:45px;
            a{font:normal 16px 'OpenSansRegular', arial, sans-serif; line-height:21px;}
          }
        }
      }
    }
  }
}