/***************************************************************** 1st ARTICLE SECTION CONTAINER ************************************************************/
.articles-main-container{width:845px; min-height:530px; margin:0 auto 35px; position:relative; top:10px;
  .articles-main-wrapper{width:100%; margin:0; 
    .content{min-height:32.25em;
      .content-article-tab{display: inline-block; vertical-align: top; width:410px; min-height:250px; margin-right:20px;
        .content-article-img{width:410px; height:260px;}
        .content-article-caption{width:100%; padding:5px 10px; min-height:200px;
          a.content-article-heading{height:85px;}
          span.content-article-subsection{width:200px;}
          a.content-article-synopsis{height:13.15em;} 
        }
        .content-article-status{
          /*START VIEW COMMENT SHARE STATUS RESULTS*/
          ul{width:230px; 
            li{width:4.25em;}
          }
        }
      }

      .content-sub-article-tab{display:inline-block; vertical-align:top; width:410px;
        .content-sub-article-row{width:100%; margin:0 0 15px;
          .content-sub-article-img{height:6.55em; width:11em; display:inline-block; vertical-align:top;}
          .content-sub-article-heading{width:190px; display:inline-block; vertical-align:top; margin-left:5px;
            a{line-height:19px; height:5em; }
            span.subsection{width:100%;}
          }
          .content-sub-article-status{
            /*START VIEW COMMENT SHARE STATUS RESULTS*/
            ul{width:285px; 
              li{width:4.25em;}
            }
          }
        }
      }
    }  
  }

/***************************************************************** TRENDING ARTICLE  ************************************************************/
  .trending-main-wrapper{display:table; width:100%; height:5em; margin:15px auto;
    .trending-main-wrap{width:100%; 
      ol{
        .trending-main-row{width:845px; margin-bottom:15px;
          .trending-main-col{
            li{font:100 2em 'OpenSansRegular', arial, sans-serif;}
            .trending-main-heading{width:95%;
              a{height:1.5em; width:80%;}
              span{width:100%;}
            }
          }
          .trending-main-status{
            /*START VIEW COMMENT SHARE STATUS RESULTS*/
            ul{width:90%; 
              li{width:4em;}
            }
          }
        }
      }
    }
  }
}


/***************************************************************** 2nd, 3rd, 4th ARTICLE SECTION CONTAINER ************************************************************/
.article-other-container{width:845px; min-height:200px; margin:0 auto 35px; position:relative; top:2.5em;
  .margin-side{margin:0 15px;}
  .article-other-primary-col{display:inline-block; vertical-align:top; width:269px;
    .content-article-tab{width:100%; min-height:150px; margin-top:5px;
      .content-article-img{width:100%; height:185px;}
      .content-article-caption{width:100%; padding:5px 10px; min-height:100px;
        a.content-article-heading{height:90px;}
        a.content-article-synopsis{height:75px;}
        span{width:200px; margin: 3px 0;}
      }
      .content-article-status{
        /*START VIEW COMMENT SHARE STATUS RESULTS*/
        ul{width:180px; 
          li{width:3.5em;}
        }
      }
    }
    

    .content-sub-article-tab{display:block; width:100%; margin-top: 10px;
      .content-sub-article-row{width:100%; margin:0 0 10px;
        .content-sub-article-img{height:150px; width:100%;}
        .content-sub-article-heading{width:100%; padding:5px;
          a{font:normal 14px 'OpenSansRegular', arial, sans-serif; line-height:16px; height:65px; }
          span{width:100%;}
        }
        .content-sub-article-status{
          /*START VIEW COMMENT SHARE STATUS RESULTS*/
          ul{width:180px; 
            li{width:3.5em;}
          }
        }
      }
    }
  }
}

/***************************************************************** 2nd, 3rd, 4th ARTICLE SECTION CONTAINER ************************************************************/
.multimedia-index-postion-top{top:4.5em; margin-bottom:2em;}

/***************************************************************** 2nd, 3rd, 4th ARTICLE SECTION CONTAINER ************************************************************/
.news-round-container{width:840px; min-height:50px; margin:0 auto 5em; position:relative; top:8.5em;
  .news-round-wrapper{width:100%; margin:0; 
    .news-round-content{min-height:50px;
      .news-round-sidemargin{margin:0}
      
      .content-article-tab{width:98.7%; margin:auto;
        .content-article-img{height:250px; width:25.5em; display:inline-block; vertical-align:top;}
        .content-article-caption{width:400px; display:inline-block; vertical-align:top; margin-left:5px;
          a.content-article-heading{line-height:21px; height:3.6em;}
          span.content-article-subsection{width:100%;}
          a.content-article-synopsis{height:10.7em;} 
        }
        .content-article-status{border-top: 1px solid #ccc; padding: 5px;
          /*START VIEW COMMENT SHARE STATUS RESULTS*/
          ul{width:730px; 
            li{width:4.25em;}
          }
        }
      }

      .content-sub-article-tab{display:block; width:100%; margin-top: 15px;
        .content-sub-article-row{display:inline-block; vertical-align:top; width:269px; margin:0 .25em;
          .content-sub-article-img{height:150px; width:100%;}
          .content-sub-article-heading{width:180px; display:inline-block; vertical-align:top; margin-left:5px;
            a{line-height:18px; height:3.6em; }
            span.subsection{width:100%;}
          }
          .content-sub-article-status{
            /*START VIEW COMMENT SHARE STATUS RESULTS*/
            ul{width:180px; 
              li{width:3.25em;}
            }
          }
        }
      }

    }  
  }
}